certifi==2021.10.8
charset-normalizer==2.0.9
configparser==5.2.0
DateTime==4.3
docopt==0.6.2
gevent==21.12.0
greenlet==1.1.2
idna==3.3
pipreqs==0.4.11
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pytz==2021.3
requests==2.26.0
requests-toolbelt==0.9.1
six==1.12.0
urllib3==1.26.7
websocket==0.2.1
websocket-client==1.2.3
websocket-client2==1.0
yarg==0.1.9
zope.event==4.5.0
zope.interface==5.4.0
